<section class="section">
  <div class="container">
    <div class="sub-position">
      <h2 class="sub-title">Join Our Coffee Community</h2>
      <p class="sub-about">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <label for="sub-input-valid">
        <input
          required
          type="email"
          class="sub-input"
          placeholder="Your Email Here"
          id="sub-input-valid"
        />
        <span class="err-msg">Email is required</span>
      </label>
      <button class="sub-btn" id="sub-input-valid">
        <span class="sub-btn-txt">Subscribe</span>

        <svg class="sub-btn-icon" width="24" height="24">
          <use href="/img/icons/icons.svg#icon-chevrons-right"></use>
        </svg>
      </button>
      <p class="sub-agreement">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>

      <img
        src="/img/subscribe-img.jpg"
        alt="Office worker working at a computer"
        class="sub-img"
      />
    </div>
  </div>
</section>
